body {
  background-color: #000016;
}
.newdiv {
  display: flex;
}

.contents {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: min-content;
  width: min-content;
  margin-left: 1vw;
}
.events {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.125rem;
  color: rgba(255, 255, 255, 0.5);
  writing-mode: vertical-lr;
  align-items: center;
  font-size: 8rem;
  line-height: 1;
  letter-spacing: 0.1em;
}

.yearName-style {
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
  margin-bottom: 3.125rem;
}

.calendar-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: 3.71vw;
  justify-content: center;
}
.calendar-grid:first-child {
  order: 1;
}
.calendar-grid > * {
  flex: 1 0 25%;
}

.calendar-month {
  padding: 0.4375rem;
  text-align: center;
  /* width: fit-content; */
}

.calendar-month h2 {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  width: 13.125rem;
}
.calendar-day {
  padding: 0.1375rem;
  text-align: center;
  font-size: 0.875rem;
  color: #ffffff;
}

.marked {
  background-color: #fffbfb7a;
  color: rgb(255, 255, 255);
  border-radius: 60%;
  height: 1.5625rem;
  width: 1.5625rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: black;
  color: white;
}
.gallery {
  font-family: "Bungee Outline", sans-serif;
  letter-spacing: 0.3vw;
  font-size: 7vw;
  position: fixed;
  font-weight: 100;
  rotate: 90deg;
  left: -12vw;
  top: 18vw;
}
.innoreva {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.6vw;
  position: fixed;
  font-size: 1vw;
  font-weight: 800;
  rotate: 90deg;
  top: 10vw;
  left: 9vw;
}
.candids {
  font-family: "Ballet", cursive;
  letter-spacing: 0.2vw;
  font-size: 4vw;
  font-weight: 100;
  position: fixed;
  top: 24vw;
  left: 16vw;
}
.box1 {
  width: 12vw;
  height: 12vw;
  /* border: 2px solid red; */
  position: fixed;
  top: 28.3vw;
  left: 16vw;
  /* background: url(./components/Image/Rectangle\ 7.png); */
  background-position: center;
  background-size: cover;
}
.moments {
  font-family: "Ballet", cursive;
  letter-spacing: 0.2vw;
  font-size: 4vw;
  font-weight: 100;
  position: fixed;
  top: 35vw;
  left: 30vw;
}
.relived {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.2vw;
  font-size: 0.8vw;
  position: fixed;
  font-weight: 800;
  top: 39vw;
  left: 36vw;
}
.box2 {
  width: 44vw;
  height: 40vw;
  /* border: 2px solid red; */
  position: relative;
  top: 5.6vw;
  left: 42vw;
}
.text1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2vw;
  letter-spacing: 0.1vw;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 3vw;
  left: 43vw;
}
.text2 {
  font-family: "Poppins", sans-serif;
  font-size: 1vw;
  font-weight: bold;
  text-align: center;
  width: 33vw;
  text-align: right;
  position: absolute;
  top: 32vw;
  left: 53vw;
}
.one {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  position: absolute;
  top: 6vw;
  left: 33vw;
}
.one img {
  height: 24vw;
  width: 35vw;
}
.carousel-control-prev-icon {
  background-image: none;
}
.carousel-control-next-icon {
  /* background-image: url(./components/Image/Arrow\ 2.svg); */
  position: fixed;
  width: 4vw;
  font-weight: 800;
  right: 3vw;
  top: 17vw;
}
.arrow {
  height: 12vw;
  width: 11vw;
  border: 2px solid rgb(255, 253, 253);
  position: fixed;
  right: -2vw;
  top: 12vw;
  border-radius: 50% 0 0 50%;
  border-width: 0 0 0 2px;
}
.arrow p {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.2vw;
  position: fixed;
  font-size: 1vw;
  font-weight: 800;
  rotate: 90deg;
  right: -3vw;
  top: 17.4vw;
}

.hero-bottom-text {
  position: relative;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 4s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

#hero-main-container {
  animation: fill 0.5s ease forwards 4s;
}

#hero-main-container path:nth-child(1) {
  stroke-dasharray: 743;
  stroke-dashoffset: 743;
  animation: anims 2s ease forwards;
}
#hero-main-container path:nth-child(2) {
  stroke-dasharray: 501;
  stroke-dashoffset: 501;
  animation: anims 2s ease forwards 0.3s;
}
#hero-main-container path:nth-child(3) {
  stroke-dasharray: 501;
  stroke-dashoffset: 501;
  animation: anims 2s ease forwards 0.6s;
}
#hero-main-container path:nth-child(4) {
  stroke-dasharray: 683;
  stroke-dashoffset: 683;
  animation: anims 2s ease forwards 0.9s;
}
#hero-main-container path:nth-child(5) {
  stroke-dasharray: 454;
  stroke-dashoffset: 454;
  animation: anims 2s ease forwards 1.2s;
}
#hero-main-container path:nth-child(6) {
  stroke-dasharray: 554;
  stroke-dashoffset: 554;
  animation: anims 2s ease forwards 1.5s;
}
#hero-main-container path:nth-child(7) {
  stroke-dasharray: 549;
  stroke-dashoffset: 549;
  animation: anims 2s ease forwards 1.8s;
}
#hero-main-container path:nth-child(8) {
  stroke-dasharray: 680;
  stroke-dashoffset: 680;
  animation: anims 2s ease forwards 2.1s;
}
#hero-main-container path:nth-child(9) {
  stroke-dasharray: 743;
  stroke-dashoffset: 743;
  animation: anims 2s ease forwards 2.4s;
}
#hero-main-container path:nth-child(10) {
  stroke-dasharray: 501;
  stroke-dashoffset: 501;
  animation: anims 2s ease forwards 2.7s;
}
#hero-main-container path:nth-child(11) {
  stroke-dasharray: 501;
  stroke-dashoffset: 501;
  animation: anims 2s ease forwards 3s;
}
#hero-main-container path:nth-child(12) {
  stroke-dasharray: 683;
  stroke-dashoffset: 683;
  animation: anims 2s ease forwards 3.1s;
}
#hero-main-container path:nth-child(13) {
  stroke-dasharray: 454;
  stroke-dashoffset: 454;
  animation: anims 2s ease forwards 3.1s;
}

@keyframes anims {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #ffffff;
  }
}
